@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
body{
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    color:hsl(0, 0%, 63%);
    padding:0px;
    margin:0px;
    border:5px solid white;
}

/************   NAVIGATION BAR    ****************/
nav{
    position: absolute;
    top:10%;
    display:flex;
}
#icon{
    display:none;
}
.hiddenNav{
    padding-top:5px;
}
#room{
    margin-left: 45px;
    margin-right: 35px;
    font-weight: 600;
    font-size:19px;
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}
#home,#shop,#about,#contact{
    margin-right:20px; 
    color:hsl(0, 0%, 100%);
}
a:link{
    text-decoration: none;
}
a:hover{
    font-size:13px;
    text-decoration: underline;
    text-underline-offset: 15px; 
}

/************   SLIDESHOW    ************/
.slideContainer{
    object-fit: contain;
    display:inline-flexbox;
}
.mySlide{
    display:none;
    height:96%;
}
/* #sp{
    object-fit: cover;
} */
aside{
    width:40%;
    padding:100px 80px 0px 80px;
}
#header1{
    font-size:30px;
    color:hsl(0, 0%, 0%);
    font-weight: 700;   
}
#para1{
    margin-top: 20px;
    line-height: 1.4;
    margin-bottom: 40px; 
}
#shopnow{
    letter-spacing: 12px;
    color:hsl(0, 0%, 0%);
    font-weight: 600;
    text-decoration: none;
}
#arrow{
    position:absolute;
    
}
#shopnow:hover{
    color:hsl(0, 0%, 63%);
    font-size:12px;
}
#arrow-left,#arrow-right{
    background-color: black;
    padding:30px 33px;
    cursor:pointer;
    position:absolute;
    bottom: 24.3%;
    left:58%;  
}
#arrow-right{
    left:64.5%;
}
#arrow-left:hover,#arrow-right:hover{
    background-color: hsl(0, 0%, 27%);
}

/**************   FIXED PART     ***********/

.fixedPart{
    display:flex;
}
.writing{
    width:35%;
    padding:50px 50px 10px 50px;
}
#header2{
    color:black;
    letter-spacing: 5px;
    font-weight:700;
    font-size:12px;
}
#para2{
    line-height: 1.4;
}

/***************    FOOTER    ************/
.attribution{
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

/************ mobile view *************/
@media screen and (max-width: 700px){
    body{
        border:0px;
    }
    nav{
        top:6%;
        display:block;
        width:100%;
    }
    .hiddenNav{
        display:none;
    }
    #icon {
        display: block;
        position: absolute;
        left: 30px;
    }
    #room{
        margin-left:40%;
        font-size: 23px;;
    }
    .mySlide,.fixedPart{
        flex-wrap:wrap;
    }
    #sp,#picture{
        width:100%;
    }
    aside,.writing{
        width:100%;
        padding:50px 40px;
    }
    #header1{
        font-size:25px ;
    }
    #arrow-left,#arrow-right{
        bottom: 37.5%;
        left:unset;
        right:56px;
        padding:15px 22px;
    }
    #arrow-right{
        right:0px;
    }
    .attribution{
        margin:5px 0px 5px 0px;
    }
}
